llama.cpp/*.o
llama.cpp/*.a
llama.cpp/.cache/
llama.cpp/.vs/
llama.cpp/.vscode/
llama.cpp/.DS_Store

llama.cpp/build/
llama.cpp/build-em/
llama.cpp/build-debug/
llama.cpp/build-release/
llama.cpp/build-static/
llama.cpp/build-no-accel/
llama.cpp/build-sanitize-addr/
llama.cpp/build-sanitize-thread/

llama.cpp/models/*

llama.cpp//main
llama.cpp//quantize

llama.cpp/arm_neon.h
llama.cpp/compile_commands.json
llama.cpp/Dockerfile