logs/
results/
.idea/
venv/

cleanup

llama.cpp/*
!llama.cpp/Dockerfile
!llama.cpp/DockerfileAlpine
!llama.cpp/DockerfileCentos

video-stream/*
!video-stream/Dockerfile
!video-stream/DockerfileAlpine
!video-stream/DockerfileCentos

video-transcoding/

flaskr/*
!flaskr/Dockerfile
!flaskr/web.py

vod-stream/*
!vod-stream/client
!vod-stream/Dockerfile
!vod-stream/DockerfileAlpine
!vod-stream/nginx.conf